<div class="container col-sm-4 p-5">
<label for="">First Name</label><input type="text" #inputEl class="form-control mb-2">
<label for="">Last Name</label><input type="text" #inputEl class="form-control mb-2">
<label for="">Full Name</label><input type="text" #inputEl class="form-control mb-2">
<button class="btn btn-primary " (click)="myFunction()">Click Me!</button>


<h1>{{finalName}}</h1>
</div>


<div class="container col-sm-4 mt-5 p-5 bg-dark text-white">
  <h1>Parent Component</h1>
  <button (click)="incre()" class="btn btn-warning">Increament</button>
  <button (click)="decre()" class="btn btn-warning ms-3">Decreament</button>
  <app-child></app-child>
</div>

<div class="container col-sm-4 p-5 mt-5 gap-3">
  <app-child2></app-child2>
</div>
